html {
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

input, select, textarea {
    font: inherit;
    color: inherit;
}